@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #ffffff;
  --secondary-color: #435b4d; /* Alternate option: #45523e */
  --accent-color: #ffa048;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

html {
  scroll-behavior: smooth;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 1rem 0 2rem;
  background-color: var(--primary-color);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--secondary-color);
  user-select: none;
  padding: 0.5rem 0;
}

.nav-menu {
  list-style: none;
  display: flex;
  height: 100%;
}

.nav-menu a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--secondary-color);
  font-weight: 500;
  padding: 0 1rem;
  transition: color 0.3s ease;
}

.nav-menu a:hover,
.nav-menu a.current {
  color: var(--accent-color);
}

/* Hamburger Menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  width: 1.5rem;
  gap: 0.3rem;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  z-index: 9999;
  justify-content: center;
  height: 100%;
}

.menu-icon {
  width: 100%;
  height: 0.2rem;
  border-radius: 0.2rem;
  background-color: var(--secondary-color);
  transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
}

.menu-toggle:hover .menu-icon {
  background-color: var(--accent-color);
}

/* X icon for Hamburger menu */
.menu-toggle.open .menu-icon:nth-child(1) {
  transform: translateY(0.5rem) rotate(-45deg);
}

.menu-toggle.open .menu-icon:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open .menu-icon:nth-child(3) {
  transform: translateY(-0.5rem) rotate(45deg);
}

/* Show the hamburger menu on small screens */
@media (max-width: 768px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 180px;
    background-color: var(--primary-color);
    padding-top: 5rem;
    transition: transform 0.3s ease;
    transform: translateX(100%);
  }
  
  .nav-menu li {
    min-height: 47.3333px;
  }

  .nav-menu a {
    display: block;
    padding: 0.75rem 1.5rem;
    color: var(--secondary-color);
    transition: background-color 0.3s ease;
  }

  .nav-menu a:hover,
  .nav-menu a.current {
    background-color: var(--accent-color);
    color: var(--secondary-color);
  }

  .nav-menu.show {
    transform: translateX(0);
  }

  .menu-toggle {
    display: flex;
  }
}

@media (max-width: 300px) {
  .nav-menu {
    width: 100%;
  }
  .nav-menu a {
    text-align: center;
  }
}

/* SECTION */
section {
  padding: 2rem;
  min-height: 100vh;
  padding-top: 52.67px;
}

/* HERO */
#home {
  background-color: var(--accent-color);
  color: var(--primary-color);
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; */
}

